h1 {
    font-family: utopia-std-display, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

.intro{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.introSection .container{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.introSection .container ul li{
    list-style: none;
    display: inline;
    padding-left:10px;
}
