h1 {
    font-family: utopia-std-display, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
}

h2{
    font-family: utopia-std-display, serif;

}

.intro{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.introSection .container{
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    margin-top: 200px;
}
 
@media  screen and  (max-width: 400px){
    h1{
        font-size: 36px;
    }
    .introSection .container{
        align-items: center;
        justify-content: center;
        height: 70%;
        width: 100%;
        margin-top: 100px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media  screen and  (max-width: 231px){
    
    .introSection .container{
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media  screen and  (max-width: 200px){
    
    .introSection .container{
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media  screen and  (max-width: 200px){
    
    h1{
        font-size: 30px;
    }

}




.introSection .container ul li{
    list-style: none;
    display: inline;
    padding-left:10px;
}


a{
    font-size: 17px;
}

.propsheading{
    font-family:'Times New Roman', Times, serif;
}